

/* BOOTSTRAP */

/* bootstrap creates max-widths to center things by default, i dont want this i want to control
width using iFrame in Wix */
.container {
    max-width: 100%;
}


/* BASE STYLES */

/* "Price Calculator */
#title {
    text-align: center;
}

/* Intro to Price Calculator */
#subtitle {
    text-align: center;
    margin-bottom: 50px;
}

/* calculator is devided into sections (i.e. 3) */
.section {
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Title for each of 3 sections */
.section-title {
    text-align: left;    
}

/* brief description of how each section works */
.section-subtitle {
    text-align: left;
    margin-bottom: 20px;
}

/* left part of each section contains the info describing the section */
.section-left-info {
    padding-left: 20px;
    padding-right: 20px;
}

/* on the right are the options or details of each section */
.section-right-details {
    display: flex;
    flex-direction: column;
}


/* slightly alter default button */
.btn {
    transition: all 0.2s ease;
    border-width: 2px;
}

/* used in the package section but also possibly elsewhere, styles for 
displaying buttons and toggling them on/off (primary->success) */
.btn-style-primary {
    border-color: #0d6efd;
    color: #0d6efd;
}
.btn-style-primary:hover {
    color: white;
    border-color: #0d6efd;
    background-color: #0d6efd;
}
.btn-style-success, .btn-style-success:hover {
    color: white;
    border-color: #198754;
    background-color: #198754;
}

/* plus/minus buttons used in add-on area for increm/decrem addon counts */
.btn-style-plus-minus {
    border-color: #0d6efd;
    color: #0d6efd;
    width: 40px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.btn-style-plus-minus:hover {
    color: white;
    background-color: #0d6efd;
}

/* make text white */
.white-text {
    color: white;
}


/* PACKAGE AREA */

/* wrapper around first step (select package) */
#package-wrap {
    background-color: #ededed;
}

#pkg-container {
    padding: 0px;
}

/* each package is a "card", this will be annoying with responsive */
.custom-card {
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    transition: all 0.3s ease;
    min-height: 220px;            
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 10px;
}

/* top part of each card contains the details */
.custom-card-top-wrap {
    flex-shrink: 0;
}

/* price tag for each card */
.custom-card-price {
    color: #0d6efd;
    margin-bottom: 15px;
}

/* bottom part of each card contains the buttons, top auto pushes to bottom */
.custom-card-bot-wrap {
    flex-shrink: 0;
    margin-top: auto;
}

/* hovering a card highlights a border */
.custom-card:hover {
    border-color: #0d6efd;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}


/* ADD-ON AREA */

/* wrapper around the add-on area */
#add-on-wrap {
    background-color: #dce3fc;
}

#add-on-container {

}

/* individual add-on, i.e. business or rental */
.add-on {
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

/* hovering an add-on applies a border */
.add-on:hover {
    border-color: #0d6efd;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* left part of add-on contains the title of add-on */
.add-on-left-wrap {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin: 0px;
    padding: 0px;
}

/* title of the addon inside left wrap */
.add-on-title {
    display: flex;
    align-items: center;
    margin: 0px;
}

/* right part of add-on contains the buttons and counts */
.add-on-right-wrap {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

/* count of how much of the add-on is selected for each person */
.add-on-count {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 0px;
    text-wrap: nowrap;
    width: 125px;
}
/* if a count is > 0, change the color */
.add-on-count-positive {
    color: #198754
}

/* SUMMARY AREA */

/* wrapper containing the summary */
#summary-wrap {
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: blue;
}

/* container contains the table... */
#summary-container {

}

/* table containing the summary data */
table {
    margin: auto;
}
table tr {
    border: 1px solid white;
}
table th {
    text-align: center;
    padding: 20px;
}
table td {
    padding: 20px;
}